html, body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: sans-serif;
	color: white;
	background-color: #282A36;
	padding: 0;
}

body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.3);
}

h1 {
	white-space: pre;
	font-size: 3rem;
	font-family: Consolas, var(--code-font)
}

h1:empty::after {
	content: "​";
}

:root {
	--code-font: JetBrains Mono, Inconsolata, Fira Code, monospace;
}

input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-family: var(--code-font);
	font-size: 1.1rem;
	outline: none;
	border-radius: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
}

::selection {
	background-color: #44475A;
}

#editor {
	margin-top: 2rem;
	border-radius: 15px;
	flex: 1;
}