html, body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: sans-serif;
	color: white;
	background-color: #111;
	padding: 0;
}

body {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

h1 {
	white-space: pre;
}

h1:empty::after {
	content: "​";
}

input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#editor {
	margin-top: 2rem;
	border-radius: 10px;
	flex: 1;
}